<h1>Editing mission</h1>

<%= render 'form' %>

<%= link_to 'Show', diagnostiqueur_mission_path(@mission.diagnostiqueur,@mission) %> |
<%= link_to 'Back', diagnostiqueur_missions_path(@mission.diagnostiqueur) %>
